{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">

	{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}



    <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">

    <h3 class="h3" id="head_banner">
        <img src="{% static '_images/hummingbird_thoughtshift_04_MEDIUM.png' %}" alt="hummingBird icon" />
        {% trans "Change Password" %}
    </h3>

        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

 </div>
{% endblock %}
