{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h3 class="h3" id="head_banner">
        <img src="{% static '_images/hummingbird_thoughtshift_04_MEDIUM.png' %}" alt="hummingBird icon" />
        {% trans "Verify Your E-mail Address" %}
    </h3>

    <p id="verification_sent_info">{% blocktrans %}We have sent an e-mail to you for verification.<br/>
                                                   Follow the link provided to finalize your registration.<br/>
                                                   Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
