<!doctype html>
{% load static %}
{% load get_MaintenanceDetails %}
<title>Site Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 45px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1 >We&rsquo;ll be back soon!
    <img src="{% static '_images/hbICONmedium.png' %}" alt="hummingBird icon" >
    </h1>
    <div>
        <p>Apologies for the inconvenience but we&rsquo;re conducting essential maintenance at the moment.</p>
        <p>{{ 1|get_MaintenanceDetails }}</p>
        <p>{{ 2|get_MaintenanceDetails }}</p>
        <p>{{ 3|get_MaintenanceDetails }}</p>
        <p>&mdash; The management</p>
    </div>
</article>